:root,
:root.sleekAndFuturistic {
    --bg: #2C3531;
    --alter-bg: #116466;
    --dark-accent: #D9B08C;
    --light-accent: #FFCB9A;
    --fg: #D1E8E2;

    --header-font: "RussoOne";
    --common-font: "IstokWeb";

}
:root.cleanAndModern {
    --bg: #3AAFA9;
    --alter-bg: #2B7A78;
    --dark-accent: #DEF2F1;
    --light-accent: #FEFFFF;
    --fg: #17252A;
}
:root.accentThatPop {
    --bg: #2D283E;
    --alter-bg: #802BB1;
    --dark-accent: #4C495D;
    --light-accent: #564F6F;
    --fg: #D1D7E0;
}

@font-face {
    font-family: "IstokWeb";
    src: url("fonts/IstokWeb-Regular.ttf");
}
@font-face {
    font-family: "RussoOne";
    src: url("fonts/RussoOne-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;

    background-color: var(--bg);
}

* {
    font-family: var(--common-font);
    color: var(--fg);
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: initial;
}

a {
    display: inline-block;
    padding: 0.8em 3em;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;

    color: var(--light-accent);
}
a:hover {
    text-shadow: 0 0 16px var(--dark-accent);
}
a svg.linkDecoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--light-accent);
    stroke-width: 0.2em;

    transition: stroke-dasharray 1s, stroke-dashoffset 1s;
}
::-webkit-scrollbar {
    width: 0.8em;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
    background-color: var(--light-accent);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-accent);
}

#landingPage {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.logo {
    padding: 1.4em 0 1em 0;
    text-align: center;
    user-select: none;
    
    background-color: var(--bg);
    position: sticky;
    top: 0;
}
.logo svg {
    stroke: var(--fg);
    stroke-width: 0.25mm;
    fill: transparent;
    
    stroke-dasharray: 460;
    stroke-dashoffset: 460;
    animation: dash 3s 0.4s linear forwards;
}
@keyframes dash {
    90% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: var(--fg);
    }
}
  

.dbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
}
.dbs .db{
    padding: 2em;
    border-radius: 1em;
    font-weight: bold;

    background-color: var(--alter-bg);
    color: var(--fg);
}
.addNewDb {
    padding: 0.4em 0;
    text-align: center;
    position: sticky;
    bottom: 0;

    background-color: var(--bg);
}
.addNewDb a {
    margin: 1em;
}

#pageNotFound {
    min-height: 100vh;
    padding: 3em;
}
#pageNotFound h1 {
    border-bottom: 0.1em solid var(--fg);
}